<div class='container'>
	<h1 class='title'>Welcome to Viewing Party</h1>

	<% unless @user %>
		<p><%= button_to "Create New User", register_path, class: "btn btn-success", method: :get %></p>
	<% end %>
</div>